/* Code written by Soma*/
body{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	display:grid;
    place-items: center;
}
.container{
	margin:150px;
	height:400px;
	width:400px;
	background:#333;
	border-radius:10px;
	display:grid;
	place-items: center;
    color:#fff;
    font-family:varenda;
}
#box{
	height:40px;
	width:200px;
	border-radius:20px;
	outline:none;
	text-align:center;
}
input[type="range"]{
	-webkit-appearance:none;
	width:200px;
	height:10px;
	outline:none;
	border-radius:50px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  height:20px;
  width:20px;
  background:#fff;
  border-radius: 50%;
  cursor:pointer;
}
.container #red{
	background:linear-gradient(90deg, black,#f0170f);
}
.container #green{
	background:linear-gradient(90deg, black,#0ca244);
}
.container #blue{
	background:linear-gradient(90deg, black,blue);
}